* {
    margin: 0;
    padding: 0;
}

.jumbotron {
    margin-bottom: 0!important;
    background-image: url(images/nimeton2.jpg);
    height: 85vh;
    background-size: cover;
    background-position: center;
    color: white;
    border-radius: 0px!important;
}

h1 {
    font-size: calc(21px + 1vw);
    line-height: 1.5;

}

p {
    font-size: calc(11px + 1vw);;
    line-height: 1.5;

}


.jumbotron2 {
    background-image: url(images/nimeton3.jpg);
    height: 80vh;
    background-size: cover;
    background-position: center;
    color: white;
    border-radius: 0px!important;
}



.jumbotron3 {
    background-image: url(images/nimeton4.jpg);
    height: 80vh;
    background-size: cover;
    background-position: center;
    color: white;
    border-radius: 0px!important;
}


.jumbotron4 {
    background-image: url(images/nimeton5.jpg);
    height: 80vh;
    background-size: cover;
    background-position: center;
    color: white;
    border-radius: 0px!important;
}



.jumbotron5 {
    background-image: url(images/nimeton7.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
    color: white;
    border-radius: 0px!important;
}

nav {
    position: absolute!important;
}


hr {
    width: calc(200px + 7vw);
    height: 1px;
    background-color: white;
    display: inline-block;
    margin-top: 0;
}

.intro {
    padding-top: calc(155px + 3vw);
}

.intro img{
    width: 220px;
}

.intro2 {
    padding-top: calc(128px + 3vw);
}

.intro2 img{
    width: 220px;
}

.intro3 {
    padding-top: calc(178px + 3vw);
}

.intro3 img{
    width: 220px;
}

.intro4 {
    padding-top: calc(165px + 3vw);
}

.intro4 img{
    width: 220px;
}

.intro5 {
    padding-top: calc(200px + 3vw);
}

.intro5 img{
    width: 220px;
}

nav a {
    font-size: calc(11px + 1vw);
    color: white;
    margin-right: 10px;
    margin-left: 10px;
}

.navbar-toggler {
    color: white!important;
    border: none!important;
    outline: none!important;
}

.navbar-toggler .fa {
    color: white!important;
    font-size: calc(20px + 3vw);
}

a:hover {
    color: white!important;
    border-bottom: 1px solid white;
    font-weight: 600;
    margin-bottom: -1px;
}

@media only screen and (max-width: 1000px) {
    .navbar {
        background-color: rgba(255,255,255,0.3)
    }
}