{% extends 'base.html' %}
{% block title %}Vilho Knuutila{% endblock %}
{% block content %}
<div class="jumbotron3 text-center">
    <div class="intro3">
        <h1>
            Vilho Knuutila
        </h1>
        <hr>
        <p>
            Hi! I am a 14-year-old boy from Finland who loves programming. I like to make small projects and learn new things.<br> I know Python, JavaScript, and C# with unity. I am learning new modules and libraries all the time<br> and trying to improve in everything I can.
        </p>

    </div>
</div>

<div class="jumbotron4 text-center">
    <div class="intro4">
        <h1>
            Vilho Drone
        </h1>
        <hr>
        <p>
            I also have a YouTube channel where I upload drone videos filmed and edited by me.<br> I would appreciate it if you could check it out and subscribe!
        </p>

        <a href="https://www.youtube.com/channel/UC-YUUbitIJSu079IbktvphA" style="color:white; font-size: 30px;">
          Check It Out
        </a>
    </div>
</div>
{% endblock %}
{% block navbar %}Contact{% endblock %}