{% extends 'base.html' %}
{% block title %}Vilho Knuutila{% endblock %}
{% block content %}
<div class="jumbotron5 text-center">
    <div class="intro5">
        <h1>
            Contact Me
        </h1>
        <hr>
        <p style="font-size: 25px;">

            You can contact me on these platforms:
            <br>

        </p>
        <p style="font-size: 25px; font-weight: 700;">
            <span style="color:#5865F2">Discord Sivakka#4938</span>&nbsp;&nbsp; <span style="color:#8a3ab9">Instagram @vilho_knu</span>&nbsp;&nbsp; <span style="color:#34A853">Email vilho@vilhoknuutila.nl</span>
        </p>
    </div>
</div>
{% endblock %}
{% block navbar %}Contact{% endblock %}
