{% extends 'base.html' %}
{% block title %}Vilho Knuutila{% endblock %}
{% block content %}
<div class="d-flex jumbotron5 text-center justify-content-center align-items-center">
    <div class="intro5">
        <h1>
            Contact Me
        </h1>
        <hr>
        <p style="font-size: calc(15px + 1vw);">

            You can contact me on these platforms:
            <br>

        </p>
        <p style="font-size: calc(15px + 1vw); font-weight: 700; ">
            <span style="color:#5865F2">Discord&nbsp;Sivakka#4938</span>&nbsp;&nbsp; <span style="color:#8a3ab9">Instagram&nbsp;@vilho_knu</span>&nbsp;&nbsp; <span style="color:#34A853">Email&nbsp;knuutila.vilho@gmail.com</span>
        </p>
    </div>
</div>
{% endblock %}
{% block navbar %}Contact{% endblock %}
